/*
 * The body has a default margin, which leaves a white space between the
 * svg and the edge of the browser. We don't want that.
 */
body {
  margin: 0;
}

svg.root {
  width: 100%;
  height: 100%;
}
.mask1{
    position:fixed;
    z-index:999;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: radial-gradient(ellipse at 50% -80%, rgba(255,255,255, 0) 70%, rgba(255,255,255,1));
    pointer-events: none;
}
